@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap);

:root {
    --main-bg-color: white;
    --nav-button-text-color: #DCF2E6;
    --nav-button-color: #36403A;
    --card-text-color: #36403A;
    --card-color: #F2F2F2;
    --hover-color: #BFBFBF;
    --text-color: #0D0D0D;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 10px;
}

header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px;
    background-color: var(--card-color);
    color: var(--card-text-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.flip-card {
    border-style: hidden;
    width: 120px;
    height: 120px;
    perspective: 500px;
}

.flip-card-inner {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease-in;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: var(--nav-button-color);
    color: var(--nav-button-text-color);
    display: grid;
    align-items: center;
}

.flip-card-back {
    background-color: var(--hover-color);
    transform: rotateY(180deg);
    display: grid;
    align-items: center;
}
